/Behind The Code 2020 (IBM)/desafio-1-2020/
/Behind The Code 2020 (IBM)/desafio-2-2020/
/Behind The Code 2020 (IBM)/desafio-3-2020/
/Behind The Code 2020 (IBM)/desafio-4-2020/
/Behind The Code 2020 (IBM)/desafio-5-2020/
/Behind The Code 2020 (IBM)/desafio-6-2020/
/Behind The Code 2020 (IBM)/desafio-7-2020/
/Aplicativos/JogoBebidaDrinkside/
/Sites/jsonDesafioIBM/
/Sites/RafaelNGP.github.io/
/JavaAccentureAcademy/.idea/.name
/Arquivos de uso/05,12-2016 e 01,05,12-2017 Loja 0016.pdf
/Arquivos de uso/05-2014 Loja 0016.pdf
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/entity/Account.class
/accademia/JavaAccentureAcademy/.idea/modules/bank.main.iml
/accademia/JavaAccentureAcademy/.idea/modules/bank.test.iml
/JavaAccentureAcademy/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/JavaAccentureAcademy/.gradle/buildOutputCleanup/cache.properties
/Purgatorio de imagens da web/CartaCopas.psd
/Purgatorio de imagens da web/CartaEspadas.psd
/Purgatorio de imagens da web/CartaOuros.psd
/Purgatorio de imagens da web/CartaPaus.psd
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/entity/CheckingAccount.class
/JavaAccentureAcademy/.gradle/checksums/checksums.lock
/JavaAccentureAcademy/.idea/compiler.xml
/JavaAccentureAcademy/.gradle/6.3/executionHistory/executionHistory.bin
/JavaAccentureAcademy/.gradle/6.3/executionHistory/executionHistory.lock
/JavaAccentureAcademy/.gradle/6.3/fileContent/fileContent.lock
/JavaAccentureAcademy/.gradle/6.3/fileHashes/fileHashes.bin
/JavaAccentureAcademy/.gradle/6.3/fileHashes/fileHashes.lock
/JavaAccentureAcademy/.gradle/6.3/gc.properties
/JavaAccentureAcademy/.gradle/vcs-1/gc.properties
/JavaAccentureAcademy/.idea/gradle.xml
/JavaAccentureAcademy/.idea/libraries/Gradle__junit_junit_4_12.xml
/JavaAccentureAcademy/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/JavaAccentureAcademy/.idea/jarRepositories.xml
/JavaAccentureAcademy/.gradle/6.3/javaCompile/javaCompile.lock
/JavaAccentureAcademy/.gradle/6.3/fileChanges/last-build.bin
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/entity/LifeInsurance.class
/JavaAccentureAcademy/.idea/misc.xml
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/entity/MixedAccount.class
/JavaAccentureAcademy/.gradle/buildOutputCleanup/outputFiles.bin
/Arquivos de uso/Relação CBD - 2017.xlsx
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/controller/RflBank.class
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/entity/SavingsAccount.class
/JavaAccentureAcademy/.gradle/6.3/javaCompile/taskHistory.bin
/JavaAccentureAcademy/build/classes/java/main/br/com/rafaelngp/bank/entity/Taxable.class
/JavaAccentureAcademy/.idea/uiDesigner.xml
/JavaAccentureAcademy/.idea/vcs.xml
/DoorAccentureAcademy/.idea/workspace.xml
/JavaAccentureAcademy/.idea/workspace.xml
/StudentAccentureAcademy/.idea/workspace.xml
/DoorAccentureAcademy/.gradle/
/DoorAccentureAcademy/.idea/
/DoorAccentureAcademy/build/
/JavaAccentureAcademy/.idea/
/StudentAccentureAcademy/.gradle/
/StudentAccentureAcademy/.idea/
/StudentAccentureAcademy/build/
/TesteArraysAccentureAcademy/.gradle/
/TesteArraysAccentureAcademy/.idea/
/TesteArraysAccentureAcademy/build/
/TesteArraysAccentureAcademy/gradle/
/VendaDeVeiculosAccentureAcademy/.gradle/
/VendaDeVeiculosAccentureAcademy/.idea/
/VendaDeVeiculosAccentureAcademy/build/

testesJunit/.gradle/6.3/executionHistory/

*.bin

*.lock

*.properties

testesJunit/.idea/

testesJunit/build/reports/tests/test/js/

testesJunit/build/classes/java/main/testes/

testesJunit/build/classes/java/test/testes/

testesJunit/build/reports/tests/test/classes/

testesJunit/build/reports/tests/test/css/base-style.css

testesJunit/build/reports/tests/test/css/style.css

testesJunit/build/reports/tests/test/index.html

testesJunit/build/reports/tests/test/packages/testes.html

testesJunit/build/test-results/test/binary/output.bin.idx

testesJunit/build/test-results/test/TEST-testes.PrimeiroTeste.xml

testesJunit/build/tmp/compileJava/source-classes-mapping.txt

testesJunit/build/tmp/compileTestJava/source-classes-mapping.txt
